{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="{% url 'product:list.product' %}" method="post" class="card-header">
    {% csrf_token %}
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected disabled>--Select A Variant--</option>
                    {% for key, values in variants.items %}
                    <optgroup label="{{ key }}">
                    {% for value in values %}
                      <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                    </optgroup>

                    {% endfor %}


                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for product in product_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }} <br> Created at : {{ product.created_at }}</td>
                    <td>{{ product.description}}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant{{ product.id }}">
                            {% for variant in product.variants_list %}
                                <dt class="col-sm-3 pb-0">
                                    {{ variant.variant }}
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{ variant.price }}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{ variant.in_stock }}</dd>
                                    </dl>
                                </dd>
                                {% endfor %}
{#                                <dt class="col-sm-3 pb-0">#}
{#                                    XL/ Black/ Half#}
{#                                </dt>#}
{#                                <dd class="col-sm-9">#}
{#                                    <dl class="row mb-0">#}
{#                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>#}
{#                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>#}
{#                                    </dl>#}
{#                                </dd>#}
{#                                <dt class="col-sm-3 pb-0">#}
{#                                    L/ Black/ Full#}
{#                                </dt>#}
{#                                <dd class="col-sm-9">#}
{#                                    <dl class="row mb-0">#}
{#                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>#}
{#                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>#}
{#                                    </dl>#}
{#                                </dd>#}
{#                                <dt class="col-sm-3 pb-0">#}
{#                                    L/ Black/ Half#}
{#                                </dt>#}
{#                                <dd class="col-sm-9">#}
{#                                    <dl class="row mb-0">#}
{#                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>#}
{#                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>#}
{#                                    </dl>#}
{#                                </dd>#}
                            </dl>
                        <button onclick="$('#variant{{ product.id }}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ product_list.start_index }} to {{ product_list.end_index }} out of {{ product_list.paginator.count }}</p>
            </div>
            {% if product_list.has_other_pages %}
            <div class="col-md-4">
                <div style=" display: inline-block;">
                {% if product_list.has_previous %}
                  <a style="color: black;float: left;padding: 8px 16px;text-decoration: none;" href="?page={{ product_list.previous_page_number }}" >&laquo;</a>
                {% else %}
                    <a style="color: black;float: left;padding: 8px 16px;text-decoration: none;" class="disabled" >&laquo;</a>
                {% endif %}
                {% for i in product_list.paginator.page_range %}
                  {% if product_list.number == i %}
                      <a class="active" style="color: black;float: left;padding: 8px 16px;text-decoration: none;" >{{ i }}</a>
                  {% else %}
                      <a style="color: black;float: left;padding: 8px 16px;text-decoration: none;" href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                    {% if product_list.has_next %}
                    <a style="color: black;float: left;padding: 8px 16px;text-decoration: none;" href="?page={{ product_list.next_page_number }}">&raquo;</a>
                    {% else %}
                    <a style="color: black;float: left;padding: 8px 16px;text-decoration: none;" class="disabled">&raquo;</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}